<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                 <form action="/" method="post">
                    <label for="name">Name:</label>
                    <input name="name" type="text">
                    <label for="month">Month:</label>
                    <input name="month" type="number" min=1 max=12>
                    <label for="day">Day:</label>
                    <input name="day" type="number" min=1 max=31>
                    <input type="submit" value="Add Birthday">
                 </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
<tbody>
                        {% for birthday in birthdays %}
                        <tr>
                            {% if edit_id == birthday.id %}
                                <form action="/edit" method="post">
                                    <input type="hidden" name="id" value="{{ birthday.id }}">
                                    <td><input type="text" name="name" value="{{ birthday.name }}"></td>
                                    <td>
                                        <input type="number" name="month" value="{{ birthday.month }}" style="width:50px">
                                        /
                                        <input type="number" name="day" value="{{ birthday.day }}" style="width:50px">
                                    </td>
                                    <td><input type="submit" value="Save"></td>
                                </form>
                            {% else %}
                                <td>{{ birthday.name }}</td>
                                <td>{{ birthday.month }}/{{ birthday.day }}</td>
                                <td>
                                    <form action="/edit_mode" method="post">
                                        <input type="hidden" name="id" value="{{ birthday.id }}">
                                        <input type="submit" value="Edit">
                                    </form>
                                </td>
                                <td>
                                    <form action="/delete" method="post">
                                        <input type="hidden" name="id" value="{{ birthday.id }}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
